*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: rgb(252, 252, 252);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
}

/*HEADER START*/
header{
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.logoContainer{
    padding-left: 20px;
    width: 25%;
    display: flex;
}

.logoContainer .logoImage{
    display: flex;
    align-items: center;
}

.logoContainer .logoImage img{
    width: 25px;
}

.logoContainer .logoText{
    font-size: 0.9em;
    padding-left: 5px;
}

.navbtn{
    display: flex;
    align-items: center;
    height:80px;
}

.navbtn button{
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.navbtn .loginbtn{
    background-color: #d9214e;
    color: white;
    width: 90px;
    font-weight: bold;
    margin-right: 10px;
}

.iden1 .idbtn{
    background-color: #009ef7;
    color: white;
    border-radius: 5px 0 0 5px;
    width: 0px;
}

.iden2 .enbtn{
    color: rgb(178, 179, 180);
    border: 0.5px solid rgb(210, 208, 208);
    margin-right: 5px;
    border-radius: 0 5px 5px 0;
    width: 50px;

}

.navbtn .iden1 button{
    width: 50px;
}

.btnloc{
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    margin-right: 100px;
}


.btnloc button{
    border: none;
    background-color: aliceblue;
    color: #606161;
    font-size: 0.9em;
    font-weight: bold;
    margin: 10px;
}
/*HEADER END*/

/*SECTION*/
section{
    background-color: rgb(196, 225, 242);
    background-image: url(https://pmb.pcr.ac.id/uploads/assets/img/general-bg3.svg);
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 120px;
}

section .textContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 80%;
    margin-left: 100px;

}

.textContainer .text{
    font-size: 1vw;
    width: 85%;
}

.textContainer .text a{
    font-style: normal;
    text-decoration: none;
    color: #009ef7;
}

.text button{
    font-style: normal;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
}

.text .Unduh{
    border: 1px solid #009ef7;
    color: #009ef7;
    background: none;
}

.text .Daftar{
    border: none;
    color: white;
    background: #009ef7;
}

.text h1{
    color: #3b3c3c;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.5em;
}

.content{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content video{
    width: 50%;
    border-radius: 10px;
}

/*SECTION END*/

/*SECTION 2 START*/
.Section2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 232, 232);
    padding: 20px;
}

.Section2 div button{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 350px;
    padding: 20px;
    margin: 10px;
    border: none;
    color: #009ef7;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 10px;
    text-align: left;
}

/*SECTION 2 END*/

/*SECTTION 3 START*/
.Section3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding-bottom: 50px;
}


.Section3 .Head{
    text-align: center;
    font-size: large;
    width: 100%;
    color: #009ef7;
}

.Section3 .Container{
    display: flex;
    position: relative;
}

.Container .leftSide{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.Container .middleSide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: -100px;
}

.Container .middleSide img{
    width:400px;
    
}

.Container .rightSide{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}


.leftSide .card{
    width:50%;
    text-align: justify;
}

.rightSide .card{
    width:50%;
    text-align: justify;
}

.Container .rightSide .card img{
    width: 9vw;
}

.Container .card img{
    width: 10vw;
}

.Container{
    overflow-wrap: break-word;
}

.Container .card{
    padding-top: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}

/*SECTTION 3 END*/

/*SECTTION 4 START*/
.Section4{
    background-color: rgb(195, 234, 221);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.Section4 .Head{
    display: flex;
    justify-content: space-between;
    width: 81%;
    font-size: 1em;
    
}

.Section4 .Head h1{
    color: #009ef7;
    font-size: 1.5em;
}

.btnLihatSemua{
    display: flex;
    align-items: center;
}

.btnLihatSemua button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #009ef7;
    font-size: 0.8em;
    font-weight: bold;
}

.Section4 .Container4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.Section4 .Container4 .card{
    display: flex;
    position: relative;
    background-color: white;
    display: flex;
    width: 350px;
    height: 380px;
    flex-direction: column;
    border-radius: 10px;

    p{
        text-align: justify;
        font-size: 0.9rem ;
        margin-left: 20px;
        margin-right: 20px;
        color: #606161;
    }

    h3{
        color:#009ef7;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: -5px;
    }

    button{
        position: absolute;
        bottom: 5px;
        right: 20px;
        padding: 8px;
        border: 1px solid #009ef7;
        border-radius: 5px;
        color: #009ef7;
    }

    .btn{
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 5px;
    }

    .btn p{
        font-size: 0.7rem;
        font-weight: bold;
        color: #8d8f8f;
    }
}

.Section4 .Container4 .card img{
    border-radius: 10px 10px 0 0;
    position: relative;
    width: 100%;
}
/*SECTTION 4 END*/

/*SECTTION 5 START*/
.Section5 {
  display: flex;
  align-items: top;

  justify-content: center;
  
  .imgSection5{
    padding-top: 20px;
  }

  .imgSection5 img{
    width: 320px;
  }

  .textSection5{
    padding-top: 130px;
    width: 500px;
  }

  h1{
    color: #009ef7;
  }

  p{
    font-size: 0.8em;
    color:#3b3c3c ;
  }

  .img2Section5{
    padding-top: 40px;
    display: flex;
    font-weight: bold;
    color: #585959;
  }
  
  .img2Section5 img{
    width: 30px;
    height: 25px;
    padding-right: 5px;
  }
}


/*SECTTION 5 END*/

/*SECTTION 6 START*/
.Section6{
    display: flex;
    flex-direction: column;
    

    .Head{
        padding-left: 120px;
        color: #009ef7;
    }

    .imgSection6{
        text-align: center;
        width: 100%;
    }

    .imgSection6 img{
        width: 87%;
    }
}
/*SECTTION 6 END*/

/*SECTION 7 START*/
.Section7{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: top;
    padding-bottom: 40px;

    gap: 40px;
    .card img{
        border-radius: 10px;
    }

    .card{
        padding-top: 30px;
    }

    .kontak1{
        color: white;
        padding-top: 30px;
    }

    .kontak1 p{
        font-size: 0.7em;
        font-weight: bold;
        
    }

    .maps{
        padding-top: 30px;
        width: 20%;
    }

    .maps iframe{
        border-radius: 10px;
        width: 100%;
        height: 200px;
    }
}

.Section7::before{
    content: "";
    position: absolute;
    inset: 0;
    
    background-color: #181c32;
    background-image: url(https://pmb.pcr.ac.id/uploads/assets/img/pcr.jpg);
    background-size: cover;
    background-position: center;

    filter: blur(10px);

    transform: scale(1.1);

    z-index: -1;
}
/*SECTION 7 END*/

/*FOOTER START*/
footer{
    background-color: #181c32;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div{
        color: white;
        font-size: 10px;
        padding: 0 50px 0 50px;
    }

    a{
        color: #009ef7;
        text-decoration: none;
    }
    
}
/*FOOTER END*/

/*INI UNTUK UKURAN LAPTOP*/
@media (min-width: 769px){
    .Section4 .Container4{
        flex-wrap: wrap;
    }
}


/*INI UNTUK TABLET*/
@media (min-width: 481px) and (max-width: 768px){
    .Section4 .Container4{
        flex-wrap: wrap;
    }
}

/* INI UNTUK UKURAN HP*/
@media (max-width: 480px){
    header{
        height: auto;
    }

    .logoText{
        flex-wrap: wrap;
        padding-left: 0px;
        width: 0px;
        gap: 0px;
        margin-left: 20px;
        margin-top: 5px;
    }

    .logoText p{
        display: none;
    }

    .logoText div h4{
        display: none;
    }

    .navbtn{
        margin-left: 10px;
    }

    .navbtn .loginbtn{
        background-color: #d9214e;
        color: white;
        margin-left: 0px;
        font-weight: bold;
    }

    section{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    section .textContainer{
        height: fit-content;
    }

    section .content{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 700px;
        margin-top: 10px;
    }

    .textContainer .text{
        font-size: 20px;
        width: auto;
    }

    .btnloc{
        display: none;
    }

    .logoText h4{
    position: absolute;
    top: 37px;
    left: 120px;
}
}
